body {
  background-color: #FFFFFF;
  font-size: 18px;
  color: #0e0906;
  font-family: 'optima', sans-serif;
}

h1 {
  margin-top: 25px;
  font-size: 75px;
  text-align: center;
  color:#9757B0;
  font-family: crayonnette;
}

h2 {
  margin-top: 20px;
  margin-top: 20px;

  text-align: center;
  font-family: 'libre';
  font-size: 30px;
}

h3{
  background-color: #E8E6F1;
}

h4 {
  text-align: center;
  font-family: 'libre';
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #F5F3EE;
  overflow: auto;
  border-radius: 10px;
}

nav{
  color: #BDABBE;
  font-size: 16px;
  text-align: center;
  border-top: 1.5px solid #BDABBE;
  border-bottom: 1.5px solid #BDABBE;
}

footer {
  margin-top: 30px;
  text-align: center;
  bottom: 0px;
  left: 45%;
}

#nav {
    width: 100%;
    text-align: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

#nav li {
    float: left;
    text-align:center;
}

#nav li a {
    display: block;
    padding: 30px 10px;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    color: #069;
    border-right: 1px solid #ccc;
}

#nav li a:hover {
    color: #c00;
    text-align:center;
    background-color: #fff;
}

#content {
    padding: 0 50px 50px;
    width:1000px;
    height:800px;
    background-color:#FFF;
}

#newPageButtons {
  text-align: center;
  background-color: #F8F7F3;
  width: 50%;
  box-shadow:3px 5px #CFCDC7;
  margin-left: 25%;

}

.fb-login-button{
  text-align: center;
  margin-left: 25%;
  width: 50%;
}

.navbar-nav.navbar-center {
    position: absolute;
    text-align: center;
}

.nav-link{
  margin-left: 40px;
  text-align: center;
}

#clothingEntry{
  text-align: center;
  border: 1px dashed #9757B0;
  border-radius: 20px;
  padding: 1%;
  margin-left: 25%;
  width: 50%;
}

#allImages{
  float: left;
  margin-left: 120px;
  margin-bottom: 20px;
}

@font-face {
    font-family: 'crayonnette';
    src: url('/images/Crayonnette.ttf');
}

@font-face {
    font-family: 'luxurious';
    src: url('/images/LuxuriousRoman-Regular.ttf');
}

@font-face {
    font-family: 'Vollkorn';
    src: url('/images/Vollkorn-Black.ttf');
}

@font-face {
    font-family: 'libre';
    src: url('/images/LibreBaskerville-Regular.ttf');
}
