<!-- Copied from sell -->

{% extends "layout.html" %}

{% block title %}
    Add Clothing
{% endblock %}

{% block main %}

<h2>Grow Your Wardrobe</h2>
<h4>Add a new piece of clothing to your repertoire by filling out the form below</h4>
<div id = "clothingEntry">
    <form action="/addClothing" enctype="multipart/form-data" method="post">
        <div class="mb-3">
            <input type="text" shop="" placeholder="Clothing Store or Brand" class="form-control">
        </div>
        <div class="mb-3">
            <input type="file" name="picture" accept="image/*" />
        </div>
        <button class="btn btn-primary" type="submit">Upload Photo</button>
    </form>
</div>

{% endblock %}