
  {% extends "layout.html" %}

  {% block title %}
      Home
  {% endblock %}

  {% block main %}
  <h4>
    Welcome to the Green Closet! We are a website that seeks to encourage thoughtful and sustainable shopping by arming you with greater awareness of your own closet and fashion habits.
    How do we do this? Well, start by making an account with us, which will enable you to upload items of clothing and create a virtual version of your own closet. 
    From there, you can update your closet and track how many times you have worn each item. We use this data to create a graph of the cost per wear of all of your clothing.
    Ultimately, this knowledge is meant to help you reflect on both how much you spend on clothing and the options that you already have.
    By encouraging users to reach back into their own closet and lower the cost per wear of their clothing, we hope to be a part of the shift away from fast fashion and towards sustainability.
  </h4>

  <h4>
    Check out some of these links for more information about our inspiration and mission.
    <ul>
      <li><a href="https://www.thegoodtrade.com/features/what-is-fast-fashion">What is fast fashion?</a></li>
    </ul>
    <ul>
      <li><a href="https://www.twi-global.com/technical-knowledge/faqs/faq-what-is-sustainability">Why act sustainably?</a></li>
    </ul>
  </h4>


{% endblock %}

