
  {% extends layout.html %}

  {% block title %}
      Home
  {% endblock %}

  {% block main %}
    <h2>Grow Your Wardrobe</h2>
    <h4>Add a new piece of clothing to your repertoire by filling out the form below</h4>
    <div id = "clothingEntry">
      <!-- Need to figure out how to save data in tables and use sql -->
    </div>
    <!-- This only happens when you are already logged in and everything is saved to session-->
    <h1 class="text-center my-3">Image Upload</h1>
    <div class="container d-flex justify-content-center">
      <form action="" class="w-50">
        <div class="form-group">
          <input type="text" shop="" placeholder="Clothing Store or Brand" class="form-control">
        </div>

      </form>
    </div>
      
    <footer>
    SITE NAME
    </footer>
{% endblock %}

