{% extends "layout.html" %}

  {% block title %}
      Home
  {% endblock %}

  {% block main %}
  <img src="/static/hanger.jpeg" alt="Logo" width = "100" >

  <h3>What is The Green Closet?</h3>
  <p class="edges">
    The Green Closet seeks to encourage thoughtful and sustainable shopping by arming you with a greater awareness of your own closet and fashion habits.
    How do we do this? Well, start by making an account with us, which will enable you to upload items of clothing and create a virtual version of your own closet.
    From there, you can update your closet and track how many times you have worn each item. We use this data to create a table of the cost per wear of all of your clothing.
    Ultimately, this knowledge is meant to help you reflect on both how much you spend on clothing and the options that you already have.
    By empowering you to reach back into your own closet and lower the cost per wear of your clothing, we hope to be a part of the shift away from fast fashion and towards sustainability.
  </p>
  <h3>More Information</h3>

  <p>
    Check out some of these links to learn more about the concepts that inspired us and informed our mission.
    <br>
    <a href="https://www.thegoodtrade.com/features/what-is-fast-fashion">What is fast fashion?</a>
    <br>
    <a href="https://www.twi-global.com/technical-knowledge/faqs/faq-what-is-sustainability">Why act sustainably?</a>
    <br>
    <a href="https://www.tiktok.com/@blondebrokeandbougie?lang=en">Cost Per Wear Inspiration</a>
  </p>

{% endblock %}

